<h1>Sortowanie z paczką Sieve</h1>

<table *ngIf="countries.itemsList != undefined && countries.itemsList.length > 0" style="color: white">
  <thead>
    <tr>
      <th>Id</th>
      <th>Kraj</th>
      <th>Kod</th>
      <th>Stolica</th>
      <th>Kontynent</th>
      <th>Populacja</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input id="id" type="text" [(ngModel)]="countryIdSearch" (keypress)="onSearchIdChange($event)" /></td>
      <td><input id="countryName" type="text" [(ngModel)]="countryNameSearch" (keypress)="onSearchNameChange($event)" /></td>
      <td><input id="countryCode" type="text" [(ngModel)]="countryCodeSearch" (keypress)="onSearchCodeChange($event)" /></td>
      <td><input id="capitalCity" type="text" [(ngModel)]="capitalCitySearch" (keypress)="onSearchCapitalChange($event)" /></td>
      <td><input id="continent" type="text" [(ngModel)]="continentSearch" (keypress)="onSearchContinentChange($event)" /></td>
      <td><input id="population" type="text" [(ngModel)]="populationSearch" (keypress)="onSearchPopulationChange($event)" /></td>
    </tr>
    <tr *ngFor="let country of countries.itemsList">
      <td>{{country.id}}</td>
      <td>{{country.countryName}}</td>
      <td>{{country.countryCode}}</td>
      <td>{{country.capitalCity}}</td>
      <td>{{country.continent}}</td>
      <td>{{country.population}}</td>
    </tr>
  </tbody>
</table>