<h1 class="text-amber-400">Informacje o państwach</h1>

<div>
  <div>
    <input />
    <input id="search" class="bg-amber-400" type="button" value="Wyszukaj" />
  </div>
  <div>
    <table class="table-fixed text-amber-200 border-collapse border border-slate-500">
      <thead>
        <tr>
          <th class="border-collapse border border-slate-500">Id</th>
          <th class="border-collapse border border-slate-500">Państwo</th>
          <th class="border-collapse border border-slate-500">Kod kraju</th>
          <th class="border-collapse border border-slate-500">Stolica</th>
          <th class="border-collapse border border-slate-500">Kontynent</th>
          <th class="border-collapse border border-slate-500">Populacja</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-collapse border border-slate-500">
          <td class="border-collapse border border-slate-500">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
          <td class="border-collapse border border-slate-500">Malcolm Lockyer</td>
          <td class="border-collapse border border-slate-500">1961</td>
          <td class="border-collapse border border-slate-500">1961</td>
          <td class="border-collapse border border-slate-500">1961</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
